
<h1>{{title}}</h1>

{{#if isLogin}}

<p id="cookies"></p>

<script type="text/javascript">
  document.getElementById('cookies').innerText = document.cookie;
</script>

<p><a href="/logout">Logout</a></p>

{{/if}}

{{#unless isLogin}}
<p><a href="/login">Login</a></p>
{{/unless}}

