<script src="/jquery/dist/jquery.min.js" type="text/javascript" ></script>
<script src="/@okta/okta-signin-widget/dist/js/okta-sign-in.min.js" type="text/javascript"></script>
<link href="/@okta/okta-signin-widget/dist/css/okta-sign-in.min.css" type="text/css" rel="stylesheet">
<link href="/@okta/okta-signin-widget/dist/css/okta-theme.css" type="text/css" rel="stylesheet">

<div id="main">Loading...</div>

<script type="text/javascript">
  var baseUrl = "{{baseUrl}}";
  var redirectUri = "{{redirectUri}}";
  var clientId = "{{clientId}}";

  window.okta = {
    redirectUri: redirectUri,
    baseUrl: baseUrl,
    si: new OktaSignIn({
      baseUrl: baseUrl,
      clientId: clientId,
      redirectUri: redirectUri,
      authParams: {
        responseType: ['code'],
        scopes: ['openid', 'email', 'profile']
      }
    })
  };

  $('#main').empty();
  okta.si.renderEl({el: '#main'}, function () {});

</script>
